# ignore following file & folders
.DS_Store
/log/*
.vscode
data/*
tmp/
node_modules/
web/app/dist/
gateway/node_modules/
web/app/node_modules/
test-results/
playwright-report/
blob-report/
__pycache__/
*.pyc